    <div class="col-lg-6">
      <img src="<%= @project.photo %>" style="border-radius: 5px;">
    </div>

    <div class="col-lg-6">
      <h4><%= @project.name %></h4><br>
        Project Category: <%= @project.category %>
        <br><br>
        <%= @project.blurb %>
        <br><br>
        This project is currently funded at  <%= @project.currency_symbol %><%= @project.pledged %> with a goal of <%= @project.currency_symbol %><%= @project.goal %>
        <br><br>
        This project is currently backed by <%= @project.backers_count %> backers.
        <br><br>
        It expires in <%= distance_of_time_in_words(Time.now, Time.at(@project.deadline)) %>
        <br><br>
        If you want to see more about this project, visit it's page on <a href="<%= @project.urls %>" target="_blank">Kickstarter</a>
    </div>
